/**
 *
 * Common for all Pages
 *
 */

 body {
     position: relative;
 }

 #header {
     .top-info {
         border-bottom: 1px solid #f1f1f1;
     }
     .navbar-nav {
         margin: 0 auto;
         .nav-item {
            .nav-link {
                text-transform: uppercase;
                font-family: $font-01;
                font-size: 14px;
                color: #4A4A4A;
                padding-left: 2rem;
                padding-right: 2rem;

            }
        }
     }
 }

 .navbar-nav {
    .active {
        color: #E89402 !important;
    }
 }

 .top-contact-wrap {
     height: 100%;
    .top-contact {
        li {
            float: left;
            padding-right: 1rem;
            font-family: $font-02;
            font-size: 13px;
            color: #808080;
            &:last-child {
                padding: 0;
            }
            i {
                color: #000;;
            }
        }
    }
 }

 .navbar-toggler {
     padding: 0;
     &:focus {
         outline: none;
     }
     .navbar-toggler-icon {
         width: auto;
         height: auto;
     }
 }

 .inner-topic {
     h3 {
        font-size: 24px;
        font-family: $font-02;
        font-weight: normal;        
        margin: 0;
        font-weight: normal;   
     }     
 }

 .tdo-topic-1 {
    font-family: $font-02;
    font-size: 24px;
    color: #E89402;    
 }

 .tdo-topic-2 {
    font-family: $font-02;
    font-size: 17px;  
    font-weight: 600 !important; 
 }

 .tdo-topic-3 {
    font-family: $font-02;
    font-size: 22px;  
    color: #3366FF;
    font-weight: normal;
 }

 #footer {
     background-color: #e89402;
     .footer-inner {
         padding: 1.5rem 0;
         .footer-contact {
             * {
                 color: #fff;
             }
             h4 {
                font-family: $font-02;
                font-size: 23px;
                font-weight: normal;
             }            
         }
     }
     .copyright {
         background-color: #532626;
         p {
            color: #fff;
            padding: 0.7rem 0;
            font-size: 15px;
         }
         a {
             text-decoration: underline;
             cursor: pointer;
             color: #fff;
         }
     }
 }

 .br-btn {
     background-color: #532626;
     color: #fff !important;
     font-weight: 600;
     font-size: 17px;
     padding: 8px 22px;
     &:hover {
        background-color: #6b3030;
     }
 }

 #back-to-top {
    position: absolute;
    display: inline-block;
    right: 15px;
    font-size: 30px;
    bottom: 15px;
    background-color: #005c2d;
    color: #fff;
    padding: 6px 10px;
    line-height: 30px;
 }

 .inner-main-title {
     font-weight: normal;
     font-size: 26px;
     font-family: $font-02;
 }
 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

    #header {
        .logo-container {
            .main-logo {
                width: 80px;
            }
        }
        .navbar-nav {
            .nav-item {
               .nav-link {
                   text-align: center;
                   padding: 15px 0;
               }
           }
        }
    }

    .inner-topic  {
        h3 {
            font-size: 18px;
        }        
        
    }

    #footer {
        
        .footer-inner {
            .main-logo {
                width: 60px;
            }
            .footer-contact {
                h4 {
                   font-size: 15px;
                   margin: 1rem 0 0 0;
                }            
            }
        }
        .copyright {
            background-color: #532626;
            p {
               color: #fff;
               padding: 0.7rem 0;
               font-size: 11px;
            }
        }
    }

    .tdo-topic-1 {
        font-size: 15px; 
        margin-bottom: 5px;
     }

     .tdo-topic-3 {
        font-size: 15px;
        margin-bottom: 10px !important;
     }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

    

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {
    

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
