/**
 *
 * Home Page
 *
 */

.home-slider {
    .home-main-slider {
        position: relative;
        box-shadow: 0px 2px 5px #cacaca;
        .slider-img {
            height: 502px;
        }
        .owl-nav {
            .owl-prev {
                position: absolute;
                left: 15px;
                color: #fff;
                font-size: 40px;
                font-weight: bold;
                top: 44%;
                background-color: #E89402;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
            }
            .owl-next {
                position: absolute;
                right: 15px;
                color: #fff;
                font-size: 40px;
                font-weight: bold;
                top: 44%;
                background-color: #E89402;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
            }
            
        }
    }
}

.home-caption {
    font-family: $font-03;
    font-size: 26px;
    font-style: italic;
    line-height: 36px;
    font-weight: normal;
}

.facility-info-section {
        .facility-info {
            h3 {
                font-family:  $font-02;
                font-size: 24px;
                font-weight: normal;
                text-align: center;
            }
            p {
                text-align: center; 
                padding-top: 1rem;
            }
        }   
        .facility-border-shadow {
            position: relative;
            height: 10px;
            z-index: 0 !important;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin-bottom: 1.5rem;
            .inner-shadow {
                position: absolute;
                content: "";
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 80%;
                height: 6px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
                z-index: -1;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 20px;
                    background-color: #fff;
                    top: -15px;
                }
            }
        }     
    } 
    // .facility-border {
    //     content: "";
    //     position: absolute;
    //     margin-left: auto;
    //     margin-right: auto;
    //     left: 0;
    //     right: 0;
    //     left: 0;
    //     bottom: 0;
    //     width: 70%;
    //     height: 6px;
    //     -webkit-border-radius: 50%;
    //             border-radius: 50%;
    //     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    //     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    //             box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    //     z-index: -1;       

    // } 

.attraction-section {
    .attraction-info {
        margin-bottom: 1rem;
        h4 {
            font-family:  $font-02;
            font-size: 22px;
            font-weight: 600;
            text-align: left;
            padding-top: 1rem; 
            margin-bottom: 1rem;
        }
        .img-fluid {
            width: 100%;
        }
    }
}


 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {



} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

    .facility-info-section {
        .facility-info {
            margin-bottom: 1rem;
            h3 {
                font-size: 18px !important;
            }            
            br {
                display: none;
            }
            .img-fluid {
                width: 100%;
            }
        }
        .facility-border-shadow {
            display: none;
        }
    }

    .attraction-section {
        .attraction-info {
            h4 {
                font-size: 18px;
            }
        }
    }


    .home-slider {        
        .home-main-slider {
            position: relative;
            .slider-img {
                height: 231px;
                background-size: cover;
                background-position: center;
            }
            .owl-nav {
                .owl-prev {
                    
                }
                .owl-next {
                    
                }
                
            }
        }
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

    

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {


} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {


} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/

@media (max-width: 380px) {


} /*//////////////////////////////////////*/




