/**
 *
 * Inner page styles
 *
 */
.inner-page-cover {
    .inner-page-cover-img {
        height: 401px;
    }
}

.room-type {
    h3 {
        font-family: $font-02;
        font-weight: normal;
    }
    .room-type-img {
        margin-bottom: 1rem;
        .img-fluid {
            width: 100% !important;
        }
    }
}

.room-facility-img {
    margin-bottom: 1.5rem;
    h4 {
        font-size: 13px;
        font-weight: 500;
        font-family: $font-02;
        font-weight: 600;
        text-align: center;
        margin: 1rem 0 1.2rem 0;
    }
}

.facility-list {
    padding-left: 1.8rem;
    margin-top: 1rem;
    list-style-type: disc;
}

.kitchen-facility {
    .kd-description {
        width: 75%;
        margin-bottom: 2rem;
    }
}

.things-to-section {
    margin-bottom: 2rem;
}

.gallery {
    .imglist {
        width: 100%;
        .image-item {
            width: 16.4%;
            display: inline-block;
            margin-bottom: 4px;
            border: 2px solid transparent;
            &:hover {
                transform: scale(1.02);                
            }
        }
    }
}

.contact-page {
    .contact-data-list {
        margin-top: 1rem;
        li {
            width: 100%;
            display: inline-block;
            margin-bottom: 1.5rem;
            span {
                float: left;
                background: #E89402;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                padding: 11px 13px;
                color: #fff;
                svg {
                    width: 15px;
                    height: 20px;
                }
            }
            p {
                margin: 10px 0 0 50px;
                a {
                    color: #000;
                }
            }
        }
    }
}

.contact-form {
    .input-filed {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        p {
            margin: 0;
            width: 25%;
            float: left;
            text-align: right;
            font-weight: 600;
            font-size: 13px;
            margin-top: 8px;
            padding-right: 10px;
            span {
                color: red;
            }
        }
        .error {
            float: right;
        }
        input[type="text"],
        input[type="email"],
        textarea
         {
            float: left;
            width: 75%;
            height: 40px;
            font-size: 14px;
            background-color: #EAEAEA;
            border: none;
        }
        textarea {
            height: 10rem;
        }
        .checkbox-group {
            margin-top: 10px;
            width: 75%;
            float: left;
            .form-check {
                margin-bottom: 0.5rem;
            }
        }
        .form-check-label {
            font-size: 13px;
            padding-right: 10px;
            span {
                margin: 0 0 0 20px;
            }
        }
        input[type="radio"] {
            margin: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* create custom radiobutton appearance */
            display: inline-block;
            width: 14px;
            height: 14px;
            padding: 2px;
            /* background-color only for content */
            background-clip: content-box;
            border: 1px solid #E89402;
            background-color:#E89402;
            border-radius: 50%;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:checked {
                background-color: #a9761d;
                border: 1px solid #a9761d;
            }
        }
    } 
    .submit-btn-container {
        width: 75%;
        float: right;
    } 

    
      
}


.contact-form {
    ::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
     :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
     ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
     input::placeholder {
         color: transparent;
    }
     textarea::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
     textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
     textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
     textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
     textarea::placeholder {
         color: transparent;
    }

}





 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

    .gallery {
        .imglist {
            .image-item {
                width: 16.3%;
            }
        }
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

    .gallery {
        .imglist {
            .image-item {
                width: 19.6%;
            }
        }
    }

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

    .inner-page-cover {
        .inner-page-cover-img {
            height: 122px;
            height: 155px;
            background-size: cover;
        }
    }

    .contact-form-container {
        margin-top: 3rem;
    }

    .contact-form {
        p {
            display: none;
        }
        input[type="text"],
        input[type="email"],
        textarea
         {
            width: 100% !important;
        }
        .form-check {
            padding-left: 0 !important;
        }
        .submit-btn-container {
            width: 100% !important;
            float: none !important;
        } 
        ::-webkit-input-placeholder {
            /* WebKit browsers */
             color: #4A4A4A;
        }
         :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
             color: #4A4A4A;
        }
         ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
             color: #4A4A4A;
        }
         :-ms-input-placeholder {
            /* Internet Explorer 10+ */
             color: #4A4A4A;
        }
         input::placeholder {
             color: #4A4A4A;
        }
         textarea::-webkit-input-placeholder {
            /* WebKit browsers */
             color: #4A4A4A;
        }
         textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
             color: #4A4A4A;
        }
         textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
             color: #4A4A4A;
        }
         textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
             color: #4A4A4A;
        }
         textarea::placeholder {
             color: #4A4A4A;
        }
    
    }

    .room-facility-img {
        .img-fluid {
            width: 100%;
        }
    }
    
    .kitchen-facility {
        .kd-description {
            width: 100%;
        }
    }

    .facility-list {
        padding-left: 1rem;
    }

    .things-to-section {
        margin-bottom: 0rem;
    }

    .things-to-img {
        .img-fluid {
            width: 100%;
        }
    }

    .gallery {
        .imglist {
            .image-item {
                width: 24.4%;
            }
        }
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {


    .gallery {
        .imglist {
            .image-item {
                width: 24%;
            }
        }
    }
    

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
