/**
 *
 * Strait
 *
 */
 

@font-face {
    font-family: 'Strait';
    src: url('#{$font-path}Strait-Regular.eot');
    src: url('#{$font-path}Strait-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Strait-Regular.woff2') format('woff2'),
        url('#{$font-path}Strait-Regular.woff') format('woff'),
        url('#{$font-path}Strait-Regular.ttf') format('truetype'),
        url('#{$font-path}Strait-Regular.svg#Strait-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/**
 *
 * Open Sans
 *
 */

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-BoldItalic.eot');
    src: url('#{$font-path}OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}OpenSans-BoldItalic.woff') format('woff'),
        url('#{$font-path}OpenSans-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans.eot');
    src: url('#{$font-path}OpenSans.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans.woff2') format('woff2'),
        url('#{$font-path}OpenSans.woff') format('woff'),
        url('#{$font-path}OpenSans.ttf') format('truetype'),
        url('#{$font-path}OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-ExtraboldItalic.eot');
    src: url('#{$font-path}OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('#{$font-path}OpenSans-ExtraboldItalic.woff') format('woff'),
        url('#{$font-path}OpenSans-ExtraboldItalic.ttf') format('truetype'),
        url('#{$font-path}OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-Italic.eot');
    src: url('#{$font-path}OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-Italic.woff2') format('woff2'),
        url('#{$font-path}OpenSans-Italic.woff') format('woff'),
        url('#{$font-path}OpenSans-Italic.ttf') format('truetype'),
        url('#{$font-path}OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-SemiboldItalic.eot');
    src: url('#{$font-path}OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('#{$font-path}OpenSans-SemiboldItalic.woff') format('woff'),
        url('#{$font-path}OpenSans-SemiboldItalic.ttf') format('truetype'),
        url('#{$font-path}OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-Extrabold.eot');
    src: url('#{$font-path}OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-Extrabold.woff2') format('woff2'),
        url('#{$font-path}OpenSans-Extrabold.woff') format('woff'),
        url('#{$font-path}OpenSans-Extrabold.ttf') format('truetype'),
        url('#{$font-path}OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-Semibold.eot');
    src: url('#{$font-path}OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-Semibold.woff2') format('woff2'),
        url('#{$font-path}OpenSans-Semibold.woff') format('woff'),
        url('#{$font-path}OpenSans-Semibold.ttf') format('truetype'),
        url('#{$font-path}OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-Light.eot');
    src: url('#{$font-path}OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-Light.woff2') format('woff2'),
        url('#{$font-path}OpenSans-Light.woff') format('woff'),
        url('#{$font-path}OpenSans-Light.ttf') format('truetype'),
        url('#{$font-path}OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSans-Bold.eot');
    src: url('#{$font-path}OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSans-Bold.woff2') format('woff2'),
        url('#{$font-path}OpenSans-Bold.woff') format('woff'),
        url('#{$font-path}OpenSans-Bold.ttf') format('truetype'),
        url('#{$font-path}OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-path}OpenSansLight-Italic.eot');
    src: url('#{$font-path}OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}OpenSansLight-Italic.woff2') format('woff2'),
        url('#{$font-path}OpenSansLight-Italic.woff') format('woff'),
        url('#{$font-path}OpenSansLight-Italic.ttf') format('truetype'),
        url('#{$font-path}OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/**
 *
 * Philosopher
 *
 */

 @font-face {
    font-family: 'Philosopher';
    src: url('#{$font-path}Philosopher-Italic.eot');
    src: url('#{$font-path}Philosopher-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Philosopher-Italic.woff2') format('woff2'),
        url('#{$font-path}Philosopher-Italic.woff') format('woff'),
        url('#{$font-path}Philosopher-Italic.ttf') format('truetype'),
        url('#{$font-path}Philosopher-Italic.svg#Philosopher-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('#{$font-path}Philosopher-BoldItalic.eot');
    src: url('#{$font-path}Philosopher-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Philosopher-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}Philosopher-BoldItalic.woff') format('woff'),
        url('#{$font-path}Philosopher-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}Philosopher-BoldItalic.svg#Philosopher-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('#{$font-path}Philosopher-Bold.eot');
    src: url('#{$font-path}Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Philosopher-Bold.woff2') format('woff2'),
        url('#{$font-path}Philosopher-Bold.woff') format('woff'),
        url('#{$font-path}Philosopher-Bold.ttf') format('truetype'),
        url('#{$font-path}Philosopher-Bold.svg#Philosopher-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('#{$font-path}Philosopher.eot');
    src: url('#{$font-path}Philosopher.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Philosopher.woff2') format('woff2'),
        url('#{$font-path}Philosopher.woff') format('woff'),
        url('#{$font-path}Philosopher.ttf') format('truetype'),
        url('#{$font-path}Philosopher.svg#Philosopher') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


































